body {
  background-color: lightblue;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; 
  justify-content: center;
}

nav ul li {
  margin-right: 20px; 
}

nav ul li a {
  text-decoration: none; /* Supprime le soulignement des liens */
  color: black; /* Couleur du texte */
  font-weight: bold; /* Met le texte en gras */
  padding: 10px;
  background-color: white;
  border-radius: 5px; /* Coins arrondis */
}

nav ul li a:hover {
  background-color: gray;
  color: white;
}

